.app-header {
  background: black;
  padding: 10px;
  margin-bottom: 20px;
}
.app-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.app-title:hover {
  color: red;
}
.header-nav {
  display: inline-block;
  position: absolute;
  right: 20px;
}
.header-nav-item {
  font-size: 20px;
  color: white;
  margin-right: 15px;
}
.header-nav-item.active {
  color: #009c44;
}
.header-nav-item:hover {
  color: #03cf5d;
}
.header-login-button {
  float: right;
}